@font-face {
    font-family: myFont;
    src: url(font/IndieFlower-Regular.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'myFont', Courier, monospace;
}
footer{
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
}
header{
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}
#container{
    background-image: url(img/paper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
#game-upper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;

}
#game-lower{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 37%;
}
#hangman {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}
#hang-word{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78%;
    height: 100%;

}

#hangman img{
    width: 100%;
    height: 100%;


}
#word{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
#chosen-word-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
}
.btn{
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 1%;
    width: 9%;
    height: 22%;
    background-color: rgba(240, 248, 255, 0);
    border-radius: 0.5vw;
    
}
.btn:hover{
    font-size: 1.3em;
    box-shadow: 0px 0px 7px 5px #0000003d;
    
    background-color: rgba(0, 0, 0, 0.28);

}
.btn-other{
    font-size: 1.2em;
    background-color: rgba(240, 248, 255, 0);
    border-radius: 0.5vw;
    width: 30%;
    height: 15%;
    

}

.btn-other:hover{
    
    box-shadow: 0px 0px 7px 5px #0000003d;
    
    background-color: rgba(0, 0, 0, 0.28);


}
#guess:hover{
    
    box-shadow: 0px 0px 7px 5px #0000003d;
    
    background-color: rgba(0, 0, 0, 0.28);


}
.input-style{
    background-color: rgba(240, 248, 255, 0);
    border: solid black 0.2vw;
    border-radius: 0.3vw;
    width: 40%;
    
}
.input-style:focus{
    box-shadow: 0px 0px 7px 5px #0000003d;
    
   

}
.word-input{
    font-size: 1.4em;
    text-align: center;
    border: none;
    width: 2.2vw;
    height: 16%;
    border-bottom: solid 5px black;
    background: none;
    margin: 0 1vw;
    font-weight: bold;

}
.word-input-space{
    text-align: center;
    border: none;
    width: 2vw;
    height: 16%;
    
    background: none;
    margin: 0 1vw;

}
.active-btn{
    background-color: green;
    cursor: not-allowed;
   pointer-events: none;
}
.unactive-btn{
    background-color: red;
    cursor: not-allowed;
   pointer-events: none;
}
#hangman{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    
}
 #hangman img{
    width: 70%;
    height: 100%;
} 
.disabled-state{
    cursor: not-allowed;
   pointer-events: none;

}
#left{
    height: 70%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
#high-score-box{
    font-size: 1.5em;
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid rgba(0, 0, 0, 0.794) 0.3vw;
    border-radius: 1vw;
}

#high-score{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#high-score-elem{
    width: 95%;
    height: 20%;
}
#name-ask {
     display: none;  
    left: 0;
    top:0;
    position: fixed;
    z-index: 10000;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.7);
    
    align-items: center;
    justify-content: center;
}
#name-box{
    margin: 0 auto;
    width: 50%;
    height: 50%;
    background-image: url(img/paperSm.jpg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#chat{
    display: none;  
    left: 0;
    top:0;
    position: fixed;
    z-index: 10000;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.7);
    
    align-items: center;
    justify-content: center;

}
#chat-box{
    margin: 0 auto;
    width: 60%;
    height: 90%;
    background-image: url(img/paperSm.jpg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}
#chat-messages{
    width: 100%;
    height: 85%;
    overflow: auto;
}
#chat-write{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.message {
    margin: 0px;
    width: 100%;
    min-height: 10%;
    font-size: 2.6vh;
    
    padding: 1vh;
}

.message:nth-child(even) {
    background-color: rgba(245, 222, 179, 0.404);
}

.message:nth-child(odd) {
    background-color: rgba(245, 222, 179, 0.609);
}
#input-message{
    width: 80%;
    height: 100%;
}
#send{
    width: 20%;
    height: 100%;

}
#feedback{
    width: 100%;
    height: 5%;
    
 
   
    background-color: rgb(245, 222, 179);
    

}
.show-chat , .hide-chat{
    width: 5%;
    height: 10%;
    background-color: rgba(255, 255, 240, 0.83);
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-weight: bold;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 3px;
    border-radius: 20px;
}

#result{
    display: none;  
    left: 0;
    top:0;
    position: fixed;
    z-index: 10000;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.7);
    
    align-items: center;
    justify-content: center;

}
#result-box{
    margin: 0 auto;
    width: 50%;
    height: 50%;
    background-image: url(img/paperSm.jpg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}
#guessing-whole-word{
    width: 60%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-self: center;
    
}

#guess{
    width: 60%;
    height: 100%;
}
.input-style{
    height: 10%;
    width: 40%;
}

#whole-word{
    height: 100%;
    width: 50%;
}
@media screen and (max-width: 768px) {
    #container{
        height: 200vh;
    }
    footer{
        height: 5%;
    }
    #game-upper{
       
        flex-wrap: wrap;
        height: 47%;
        flex-direction: column-reverse;
    }
    #hang-word{
        width: 100%;
        height: 70%;
    }
    #hangman{
        width: 40%;
        height: 80%;
    }
    #word{
        width: 60%;
        height: 80%;
    }
    #high-score-box{
        width: 90%;
        height: 30%;
    }
    #high-score{
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #high-score-elem{
        width: 40%;
        height: 20%;
    }
    .word-input{
        width: 3vw;
    }
    #game-lower{
        height: 38%;
        flex-direction: column-reverse;
    }
    #chosen-word-input{
        width: 90%;
        height: 50%;
    }
    #left{
        height: 40%;
    }
    #guessing-whole-word{
        width: 100%;
        height: 35%;
        display: flex;
        align-items: center;
        justify-self: center;
        
    }
    .btn-other{
        width: 90%;
        height: 15%;
    }
    #guess{
        width: 30%;
        height: 100%;
    }
    .input-style{
        height: 30%;
        width: 90%;
    }

    #whole-word{
        height: 100%;
        width: 70%;
    }
    .show-chat , .hide-chat{
        width: 10%;
        
    }
}
@media screen and (max-width: 600px) {
    #container{
        height: 200vh;
    }
    #game-upper{
       
        flex-wrap: wrap;
        height: 40%;
        flex-direction: column-reverse;
    }
    #hangword{
        width: 100%;
        height: 60%;
    }
    #hangman{
        width: 40%;
        height: 90%;
    }
    #word{
        width: 60%;
        height:80%;
    }
    #high-score-box{
        width: 80%;
        height: 40%;
        font-size: 1.2em;
    }
    #high-score{
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #high-score-elem{
        width: 40%;
        height: 20%;
    }
    .word-input{
        width: 4vw;
    }
    #game-lower{
        height: 47%;
        flex-direction: column-reverse;
    }
    #chosen-word-input{
        width: 90%;
        height: 30%;
    }
    #left{
        height: 60%;
    }
    #guessing-whole-word{
        width: 90%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-self: center;
        flex-direction: column;
    }
    .btn-other{
        width: 90%;
        height: 15%;
    }
    #guess{
        height: 50%;
        width:90% ;
    }
    .input-style{
        height: 30%;
        width: 90%;
    }

    #whole-word{
        height: 50%;
        width: 90%;
    }
    .show-chat , .hide-chat{
        width: 15%;
        
    }

}
